<div ng-controller="homepageCtrl as home">
    <header>
        My site about this
    </header>

    <div class="container">
        <section id="main_content">
            <h1>Wlecome to Maye Page </h1>

        </section>

    </div>
    <div>
        <!--<h1>{{home.greet}}</h1>-->
        <h2 ng-click="home.golagou()">go to Lagou</h2>
        <h2 ng-click="home.goclock()">go to Clock</h2>
    </div>

    <my-dragble>Drag Mes</my-dragble>

    <!--<h1 class="title">the Note Making App</h1>
    <note-pad/>-->
    
</div>